@using System.Collections.Generic;
@using MvcApplicationDZ220614.Models;
@model List<Movies>
@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>
<ul>
    @foreach (var m in Model)
    {
        <li>@m.Name</li>
    }
</ul>
